### Roku in developer mode
ROKU_IP=""
ROKU_PASS=""

### Servers launched with npm run dev
LOCAL_DEV_SERVER="LOCAL_IP:54323"
LOCAL_SOCKET_SERVER="LOCAL_IP:54320"

### Static api user info while user flow is WIP
USER_EMAIL="azat@azat.dev"
USER_PASS="strapi password"
USER_ID="tcsdu0rj38k1ls6tmcyo0fdu"

### Hosted api info
SERVER_URI="https://roku.azat.dev"
GRAPHQL_SERVER="https://roku.azat.dev/graphql"
VIDEO_SERVER_URI="https://video.azat.dev"
SERVER_API_TOKEN="2565bfa9110281be16ee81c728b530cb45432c3f68e6eecde441b1a0a238f88412b7df4cd2913a0a295bc61f4d06b9e9d04de5860c5fa8efc983f49ac8b13cb882aa200ca8f84d99ebcd57c5ee7dbfa5f413050b82b48be01a44d0488aea7d5464e14aa64340d6ce3d33a292e93191c03ddeb383787684a82e3f09d93fa3cfca"

### Local api info
# SERVER_URI="http://LOCAL_IP:1337"
# GRAPHQL_SERVER="http://LOCAL_IP:1337/graphql"
# VIDEO_SERVER_URI="http://LOCAL_IP"
# SERVER_API_TOKEN=""