### Roku in developer mode
ROKU_IP=""
ROKU_PASS=""

### Servers launched with npm run dev
LOCAL_DEV_SERVER="http://192.168.88.17:54323"
LOCAL_SOCKET_SERVER="192.168.88.17:54320"

### Static api user info while user flow is WIP
USER_EMAIL="azat@azat.dev"
USER_PASS="strapi password"
USER_ID="tcsdu0rj38k1ls6tmcyo0fdu"

### Hosted api info
SERVER_URI="https://roku.azat.dev"
GRAPHQL_SERVER="https://roku.azat.dev/graphql"
VIDEO_SERVER_URI="https://video.azat.dev"

### Local api info
# SERVER_URI="http://192.168.88.17:1337"
# GRAPHQL_SERVER="http://192.168.88.17:1337/graphql"
# VIDEO_SERVER_URI="http://192.168.88.17"
