<?xml version="1.0" encoding="utf-8" ?>
<component name="App" extends="Scene">
    <interface>
        <field id="id" type="string" value="app" />
        <function name="safeFunc" />
    </interface>
    <children>
        <Layout id="layout" />
    </children>
    <script type="text/brightscript" uri="App.bs" />
</component>
