<?xml version="1.0" encoding="utf-8" ?>
<component name="App" extends="Scene">
    <interface>
        <field id="launchArgs" type="assocArray" />
        <field id="testFunctions" type="assocarray" />
        <field id="drink" type="string" />
        <field id="styles" type="assocarray" />
        <function name="safeFunc" />
    </interface>
    <children>
        <Background id="background" />
        <CTAs id="ctas" />
        <DefaultCarousel id="defaultCarousel" />
        <DynamicCarousel id="dynamicCarousel" />
        <FlushCarousel id="flushCarousel" />
        <Topbar id="topbar" />
        <Sidebar id="sidebar" />
    </children>
    <script type="text/brightscript" uri="App.bs" />
</component>
