<?xml version="1.0" encoding="utf-8" ?>
<component name="App" extends="Scene">
    <interface>
        <field id="id" type="string" value="app" />
        <field id="launchArgs" type="assocArray" />
        <field id="testFunctions" type="assocarray" />
        <field id="drink" type="string" />
        <field id="styles" type="assocarray" />
        <field id="playSound" type="string" alwaysNotify="true" />
        <function name="safeFunc" />
    </interface>
    <children>
        <Layout id="layout" />
    </children>
    <script type="text/brightscript" uri="App.bs" />
</component>
